@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: "Open Sans";
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2)
      format("woff2");
    font-display: auto;
  }
}
