.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: rgba(40, 214, 192, 0.9);
    transition: left 300ms ease-out;
}
.sidebar.active {
    left: 0;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar li {
    list-style: none;
}
.sidebar li a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #fff;
}

.hamburger {
    border: none;
    outline: 0;
    width: 50px;
    position: absolute;
    right: -50px;
    background-color: rgba(40, 214, 192, 0.9);
}

.hamburger:after,
.hamburger:before,
.hamburger div {
    background-color: #fff;
    height: 5px;
    margin: 7px 0;
    border-radius: 3px;
    content: "";
    display: block;
    transition: all 300ms ease-in-out;
}

.sidebar.active .hamburger:before {
    transform: translateY(12px) rotate(135deg);
}
.sidebar.active .hamburger::after {
    transform: translateY(-12px) rotate(-135deg);
}
.sidebar.active .hamburger div {
    transform: scale(0);
}


header{
    width: 100%;
    position: fixed;
    background: rgba(136, 153, 151, 0.0);
    padding: 22px 0;
    color:  rgba(136, 153, 151, 0.0);
    top: 0;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}