.tab-list {  border-bottom: 1px solid #ccc;
    padding-left: 0;

}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: rgba(248, 146, 145, 0.6);
    border: solid rgba(248, 146, 145, 0.4);
    border-width: 1px 1px 0 1px;

}
