body {
    background: linear-gradient(180deg, #F89291 0%, #28D6C0 100%);
    color: white;
    background-attachment: fixed;
}

html,
root {
  height: 100%;
}

.login-page article {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(248, 146, 145, 0.4);
  border-color: rgba(248, 146, 145, 0.5);
}
.form-signin .form-control::placeholder {
    color: white;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 35px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.btn-primary {
    border-color: rgba(248, 146, 145, 0.7);
    background-color: rgba(248, 146, 145, 0.8);
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
thead{
  background: #f3f3f3;
  color: #333;
}
ol{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.book-page article {
  height: 90vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}