/*main body styling */
body {
  background: linear-gradient(180deg, #f89291 0%, #28d6c0 100%);
  color: black;
  background-attachment: fixed;
  height: 100%;
}

html,
root {
  height: 100%;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}
main {
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* ************************** DATEPICKER ***********************************/

.react-datepicker__input-container {
  margin: 0 auto !important;
}

.react-datepicker-wrapper {
  margin: 0 auto;
  text-align: left;
}

.pikeri {
  margin: auto;
  width: 50%;
  position: relative;
  top: 80px;
}
/* ************************** NAVBAR Desktop & Mobile ***********************************/

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 9999;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8 0 8 16;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: centeR;
  padding: 0px 16px;
  border-radius: 4px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  margin-left: 16px;
}

.home,
.bookings,
.profile {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* -----------------------------------------SEAT SELECTION LAYOUT-----------------------------------------------------*/
.seat {
  font-size: 24px;
  width: 35px !important;
  height: 40px !important;
  margin: 0;
}

.seat-picker {
  position: relative;
  left: 0px;
  font-size: 22px;
}
/* * This is the whole layout of seat selection */
.seat-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  left: 20px;
}

.blank {
  height: 40px;
  width: 40px;
}

__row {
  display: flex;
  height: auto;
  width: auto;
}

span {
  position: relative;
  left: -5px;
}

.seat-picker > *:not(:last-child) {
  margin: 0;
}

.seat-picker__row__number {
  /* display: none !important; */
}

.seat-picker__row seat-picker__row--enabled {
  /* display: none !important; */
}

.seat-picker > seat seat--enabled seat--north > span {
  display: none;
}

.seat.seat--reserved.seat--north {
  background-color: #6b8c9b !important;
  opacity: 0.2;
}

.seat.seat--reserved.seat--north > seat__number {
  opacity: 0;
}

.seat-picker__row.seat-picker__row--selected {
  background: rgba(76, 175, 80, 0);
}

.te4005377-ada4-47eb-ae0c-6970c3ab00c9 {
  color: red !important;
}

.tc6c6279c-5e6e-4151-8afd-432cc1fe6f5c {
  opacity: 0.5 !important;
}
/ .seat-picker__row.seat-picker__row--enabled {
  color: red !important;
}

.seat.seat--enabled.seat-north {
  background-color: transparent;
}

.loader {
  display: none !important;
}

.seat.seat--selected.seat--north {
  background: red;
}
