/*
=============== 
Variables
===============
*/


/* :root {
  /* dark shades of primary color*/


/* --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */


/* --clr-primary-5: hsl(205, 78%, 60%); */


/* lighter shades of primary color */


/* --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%); */


/* darkest grey - used for headings */


/* --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%); */


/* grey used for paragraphs */


/* --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%); */


/*
=============== 
Global Styles
===============
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: linear-gradient(180deg, #F89291 0%, #28D6C0 100%);
    color: white;
}

.p {
    font-size: 32px;
}

.box {
    width: 300px;
}


.container {
    flex: 1;
    padding: 20;
    align-items: center;
}

h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 0px;
}
h2 {
    font-size: 16px;
    padding-top: 0px;
}

button {
    display: inline-block;
    height: 30px;
    width: 110px;
    border-radius: 5px;
    background: rgba(248, 146, 145, 0.4);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
    text-align: center;
}

.forgot-button {
    display: inline-block;
    height: 30px;
    width: 170px;
    left: 60px;
    top: 392px;
    border-radius: 5px;
    background: rgba(248, 146, 145, 0.4);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.button-container {
    padding-top: 20px;
    align-content: center;
}

.button-container-forgot {
    padding-top: 20px;
    align-self: center;
}

.form-control {
    width: 200px !important;
    border: 1px;
    padding-top: 10px;
}

input {
    width: 260px;
    height: 40px;
    left: 57px;
    top: 240px;
    background: rgba(248, 146, 145, 0.4);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 5px;
}

input::placeholder {
    color: white;
}

.login {
    width: 20vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

.form {
    border-radius: 1rem;
    padding: 1rem 2rem;
}

img {
    justify-content: center;
}

/* 
=============================
Mobile CSS
=============================
*/

@media screen and (max-width: 768px) {
    .form {
        position: fixed;
        left: 15%;
        top: 30%;
    }
}